
<div class="sidebar-wrapper">
  <div class="logo" style="padding-bottom: 55px;">

  </div>
    <ul class="nav" >
        <li  routerLinkActive="active" >
            <a routerLink="/dashboard">
              <i><img src="../../assets/img/sidebar/home (1) copy.png"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="#">
              <i>    <img src="../../assets/img/sidebar/Ewallet copy.png"></i>
              <p>E Wallet</p>
          </a>
      </li>
      <li  routerLinkActive="active" >
        <a routerLink="#">
          <i>    <img src="../../assets/img/sidebar/event copy.png"></i>
            <p>Events</p>
        </a>
    </li>
    <li  routerLinkActive="active" >
      <a routerLink="#">
        <i>    <img src="../../assets/img/sidebar/Payment copy.png"></i>
          <p>Payments</p>
      </a>
  </li>
  <li  routerLinkActive="active" >
    <a routerLink="#">
      <i>    <img src="../../assets/img/sidebar/Manage_biz copy.png"></i>
        <p>Manage my Business</p>
    </a>
</li>
<li  routerLinkActive="active" >
  <a routerLink="#">
    <i>    <img src="../../assets/img/sidebar/settings copy.png"></i> 
      <p>Settings</p>
  </a>
</li>
    </ul>
</div>
