<div class="row">
  <div class="col-md-6"></div>

  <div class="col-md-6" style="text-align: end;padding:10px;">
    <button style="background-image: linear-gradient(#3576f4, #17b2f4);
    border-radius: 15px; color:rgb(97, 73, 73); border: solid lightblue 1px; width: 45%;
    height: 40px;">Refer a Friend</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6 portfolio">
    <img src="../../../assets/img/portfolio.png"  />
    <h6>Portfolio</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-8 chartBack">
      <div class="row">
        <div class="col-md-8 line-chart">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke"
            
          ></apx-chart>
        </div>
        </div>
        <div class="col-md-4 pic-chart">
          <div class="card card-bck" style="width: 13rem; height: 25rem;margin-top: 10px;">
            <div class="progress blue">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">60%</div>
          </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-title text-center main">CCRB Mining</p>
                <p class="card-title text-center main"> Overall Completion </p>
              <div class="row" style="padding-top: 20px;">
                <div class="col-md-6" style="padding: 0 0 0 5px;">
                  <p class="card-subtitle mb-2 text-muted" style="padding-top: 10px;">Hashes Mined</p>
                  <p class="card-subtitle mb-2 text-center valText">985K</p>
                </div>
                <div class="col-md-6" style="padding:0;">
                  <p class="card-subtitle mb-2 text-muted" style="padding-top: 10px;">CCRB Mined</p>
                  <p class="card-subtitle mb-2 text-center valText ">$ 2.46</p>
                </div>
              </div>
        
    
            
            </div>
          </div>
 
          <!-- <notifications-cmp></notifications-cmp> -->
        </div>

  </div>
</div>
  <div class="col-md-3 cards" >
    <div class="card" style="width: 15rem; height: 27rem;">
      <div>
        <img class="card-img-top" src="../../../assets/img/Prime Plus.png" alt="Card image cap">
      </div>
      
      <div class="card-body">
        <div class="row" style="padding-top: 3px;">
          <div class="col-md-6 text-center" style="padding: 0;">
            <p class="card-subtitle mb-2 text-muted" style="padding-top: 3px;">Membership:</p>
          </div>
          <div class="col-md-6" style="padding:0;">
            <p class="card-subtitle mb-2 text-center" style="padding-top: 3px;color: blue;">Prime Plus</p>
          </div>
        </div>
        <div class="row" style="padding-top: 3px;">
          <div class="col-md-6" style="padding: 0;">
            <p class="card-subtitle mb-2 text-muted text-center" style="padding-top: 3px;">Trading Account:</p>
          </div>
          <div class="col-md-6" style="padding:0;">
            <p class="card-subtitle mb-2 text-center" style="padding-top: 3px;">266.7 CCRB</p>
          </div>
        </div>
        <div class="row" style="padding-top: 3px;">
          <div class="col-md-6" style="padding: 0;">
            <p class="card-subtitle mb-2 text-muted text-center" style="padding-top: 3px;">Mining Balance:</p>
          </div>
          <div class="col-md-6" style="padding:0;">
            <p class="card-subtitle mb-2 text-center" style="padding-top: 3px;">266.7 CCRB</p>
          </div>
        </div>
        <div class="row" style="padding-top: 3px;">
          <div class="col-md-6" style="padding: 0;">
            <p class="card-subtitle mb-2 text-muted text-center" style="padding-top: 5px;">Mining Pending:</p>
          </div>
          <div class="col-md-6" style="padding:0;">
            <p class="card-subtitle mb-2 text-center" style="padding-top: 5px;">266.7 CCRB</p>
          </div>
        </div>
        <div class="row" style="padding-top: 3px;">
          <div class="col-md-6" style="padding: 0;">
            <p class="card-subtitle mb-2 text-muted text-center" style="padding-top: 5px;">Total:</p>
          </div>
          <div class="col-md-6" style="padding:0;">
            <p class="card-subtitle mb-2 text-center" style="padding-top: 5px;">266.7 CCRB</p>
          </div>
        </div>
       <div style="text-align: center;padding-top: 10px;">
        <button style="background-image: linear-gradient(#3576f4, #17b2f4);
        border-radius: 20px; color:white; border: solid lightblue 1px; width: 80%;
        height: 40px;">Upgrade</button>
       </div>
      </div>
    </div>
</div>

</div>


<div class="row" style="padding-top: 20px;">
  <div class="col-md-10">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-10 col-md-12">
                <div class=" portfolio-card text-center">
                  <img src="../../../assets/img/sidebar/card/CCRB.png"  />
                  <p class="text-muted">CryptoCarbon(CCRB)</p>
                </div>
              </div>
              <!-- <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Errors</p>
                  <p class="card-title">23
                    <p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="">
            <!-- <hr> -->
            <div class="stats text-center">
              <p class="card-value">266.7 CCRB</p> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-10 col-md-12">
                <div class=" portfolio-card text-center">
                  <img src="../../../assets/img/sidebar/card/bitcoin.png"  />
                  <p class="text-muted">CryptoCarbon(CCRB)</p>
                </div>
              </div>
              <!-- <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Errors</p>
                  <p class="card-title">23
                    <p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="">
            <!-- <hr> -->
            <div class="stats text-center">
              <p class="card-value">266.7 CCRB</p> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-10 col-md-12">
                <div class=" portfolio-card text-center">
                  <img src="../../../assets/img/sidebar/card/Ethereum-ETH-icon.png"  />
                  <p class="text-muted">CryptoCarbon(CCRB)</p>
                </div>
              </div>
              <!-- <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Errors</p>
                  <p class="card-title">23
                    <p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="">
            <!-- <hr> -->
            <div class="stats text-center">
              <p class="card-value">266.7 CCRB</p> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-10 col-md-12">
                <div class=" portfolio-card text-center">
                  <img src="../../../assets/img/sidebar/card/Ethereum-ETH-icon.png"  />
                  <p  class="text-muted">CryptoCarbon(CCRB)</p>
                </div>
              </div>
              <!-- <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Errors</p>
                  <p class="card-title">23
                    <p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="">
            <!-- <hr> -->
            <div class="stats text-center">
              <p class="card-value">266.7 CCRB</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" arraw-butt text-center">
      <button class="arr-btn"><img src="../../../assets/img/sidebar/card/right_arrow.png"  /></button>
      
  
    </div>
  </div>
</div>

